.categories {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 32px;
}

.categories__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.category-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 16px 16px 1px rgba(0, 0, 0, 0.116);
  overflow: hidden;
  transition:
    transform 250ms,
    box-shadow 250ms;
  cursor: pointer;

  display: flex;
  flex-direction: column;
}

.category-card a {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}

.category-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  flex-shrink: 0;
}

.category-card__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.category-card h3 {
  font-size: 18px;
  font-weight: 550;
  color: black;
  margin: 0;
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  color: black;
  margin-bottom: 32px;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 24px 15px -3px rgba(0, 0, 0, 0.295);
}

@media (max-width: 767px) {
  .categories__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-card {
    height: 300px;
  }

  .category-card img {
    height: 200px;
  }

  .category-card__content {
    padding: 10px;
  }
}
